[Unit]
Description=Gunicorn instance to serve APP
After=network.target
[Service]
Environment="CONV_PROCESSED_FOLDER=/home/ubuntu/s3/processed"
Environment="CONV_BROKER=sqs://"
Environment="CONV_APP_LOGS=/home/ubuntu/conversion_logs"
Environment="CONV_SQLALCHEMY_DATABASE_URI=postgresql://postgres:conversor1@conversor.cu1ecawkgb7t.us-east-1.rds.amazonaws.com:5432/conversor"
Environment="CONV_QUEUE=ColaConversion"
Environment="CONV_SQLALCHEMY_ENGINE_LOG_LEVEL=INFO"
Environment="CONV_APP_HOME=/home/ubuntu/conversor_app/Proyecto-Grupo7-202120"
Environment="CONV_ALLOWED_EXTENSIONS=mp3,acc,ogg,wav,wma"
Environment="CONV_APP_LOG_LEVEL=INFO"
Environment="CONV_UPLOAD_FOLDER=/home/ubuntu/s3/uploads"
User=root
Group=www-data
WorkingDirectory=/home/ubuntu/conversor_app/Proyecto-Grupo7-202120/flaskr
Environment="PATH=/home/ubuntu/conversor_app/Proyecto-Grupo7-202120/flaskr/venv/bin/"
ExecStart=/home/ubuntu/conversor_app/Proyecto-Grupo7-202120/flaskr/venv/bin/gunicorn --workers 4 --bind unix:conversion_app.sock -m 007 wsgi:app
[Install]
WantedBy=multi-user.target
